
.nav-link{
    /* font-weight: 900; */
    font-size:larger ;
    padding: 1px;
    margin-left: 7px;
    border-radius: 81px;
    
    }
    .nav-link:hover{
        background-color: rgb(174, 129, 87);
        color: black;
        box-shadow: 11px 8px 7px 2px rgba(9, 0, 0, 1);
    }
    .create:hover{
        color: black;
    }
